*.cache
node_modules
atom/.apm
atom/packages
atom/storage
atom/blob-store
chrome
webstorm/settings.jar


private

# Git credential file
.gitconfig.local

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
*~
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
config/apache/logs/
config/nginx/ssl/
config/nginx/nginx.access.log
config/nginx/sites-available/wps
config/nginx/sites-enabled/wps
